.o-modal {
  background-color: var(--o-modal-background-color);
  z-index: var(--o-modal-z-index);
  position: fixed;
  overflow-y: auto;
  top: var(--o-modal-position-base);
  bottom: var(--o-modal-position-base);
  left: var(--o-modal-position-base);
  right: var(--o-modal-position-base);
}

.o-modal__layout {
  padding: calc(var(--o-modal-base-padding) * 2);
  min-height: var(--o-modal-min-height);
  display: flex;
  align-items: center;
}

.o-modal__close {
  font-size: var(--o-modal-close-font-size);
  font-weight: var(--o-modal-close-font-weight);
  line-height: var(--o-modal-close-line-height);

  text-align: end;
}

.o-modal__body {
  background-color: var(--o-modal-body-background-color);
  padding: calc(var(--o-modal-base-padding) * 3);
  margin-left: auto;
  margin-right: auto;
  max-width: var(--o-modal-body-max-width);
}

.o-modal__heading {
  font-size: var(--o-modal-heading-font-size);
  font-weight: var(--o-modal-heading-font-weight);
  line-height: var(--o-modal-heading-line-height);
  margin-top: 0;
}

@media screen and (prefers-reduced-motion: no-preference) {
  .animated {
    animation-duration: var(--o-modal-animation-duration);
    animation-fill-mode: var(--o-modal-animation-fill-mode);
    animation-timing-function: var(--o-modal-animation-timing-function);
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -o-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }
}
